@import "tailwindcss";

.fade-bg {
  background-image: url('../../public/bg_1.webp'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
